Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

State the null hypothesis
State the alternate hypothesis
What is the significance level
What are the degrees of freedom of model, error terms, and total DoF

In [28]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import math
from scipy import stats

In [29]:
data = pd.read_excel(r"C:\Users\NIDHAL\Desktop\lab-inferential-statistics-anova-master\files_for_lab\anova_lab_data.xlsx")
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [30]:
#Organize the data: Make sure the data is in a tidy format,
#with each row representing a unique observation and each column representing a variable. 
#In this case, you will need columns for the etching rate and the power level. 
#You can do this by creating a new DataFrame with columns for each power level and adding the etching rate values as rows
df = pd.DataFrame(etching_rate)
df.columns  = ['160 W', '180 W', '200 W']
df

   160 W  180 W  200 W
0   5.43   6.24   8.79
1   5.71   6.71   9.20
2   6.22   5.98   7.90
3   6.01   5.66   8.15
4   5.59   6.60   7.55

In [31]:
etching_rate=[[5.43, 6.24, 8.79],
                  [5.71, 6.71, 9.2],
                  [6.22, 5.98, 7.9],
                  [6.01, 5.66, 8.15],
                  [5.59, 6.6, 7.55]]

In [32]:
df = pd.DataFrame(etching_rate)
df.columns  = ['160 W', '180 W', '200 W']
df

   160 W  180 W  200 W
0   5.43   6.24   8.79
1   5.71   6.71   9.20
2   6.22   5.98   7.90
3   6.01   5.66   8.15
4   5.59   6.60   7.55

In [40]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['160 W', '180 W', '200 W'])
df_melt.columns = ['index','Watt_power', 'etching_rate']
df_melt
#This reshaped DataFrame is now in a format that is suitable for use with the statsmodels

    index Watt_power  etching_rate
0       0      160 W          5.43
1       1      160 W          5.71
2       2      160 W          6.22
3       3      160 W          6.01
4       4      160 W          5.59
5       0      180 W          6.24
6       1      180 W          6.71
7       2      180 W          5.98
8       3      180 W          5.66
9       4      180 W          6.60
10      0      200 W          8.79
11      1      200 W          9.20
12      2      200 W          7.90
13      3      200 W          8.15
14      4      200 W          7.55

In [34]:
def check_normality(data):
    test_stat_normality, p_value_normality=stats.shapiro(data)
    print("p value:%.4f" % p_value_normality)
    if p_value_normality <0.05:
        print("Reject null hypothesis >> The data is not normally distributed")
    else:
        print("Fail to reject null hypothesis >> The data is normally distributed")

In [35]:
def check_variance_homogeneity(group1, group2, group3):
    test_stat_var, p_value_var= stats.levene(group1, group2, group3)
    print("p value:%.4f" % p_value_var)
    if p_value_var <0.05:
        print("Reject null hypothesis >> The variances of the samples are different.")
    else:
        print("Fail to reject null hypothesis >> The variances of the samples are same.")

In [36]:
check_normality(etching_rate)

p value:0.0548
Fail to reject null hypothesis >> The data is normally distributed

- H0: there is no difference in the mean etching rate for different levels of power.
- HA: there is a difference in the mean etching rate for different levels of power.

In [44]:
from scipy.stats import f_oneway

# Conduct ANOVA
f_statistic, p_value = f_oneway(df_melt['etching_rate'], df_melt['Watt_power'])

# Interpret results
if p_value < 0.05:
    print("There is a significant difference in the means of the different power levels.")
else:
    print("There is no significant difference in the means of the different power levels.")

ValueError: could not convert string to float: '160 W'

The significance level is the probability of rejecting the null hypothesis when it is true.

The degrees of freedom (DoF) of the model refer to the number of independent observations that are used to estimate the model parameters. In this case, the DoF of the model would be the number of power levels being compared 3-1 = 2

The DoF of the error term refer to the number of observations that are not used to estimate the model parameters. In this case, the DoF of the error term would be the total number of observations minus the number of power levels being compared = 12

The total DoF is the sum of the DoF of the model and the DoF of the error term. In this case, it would be the total number of observation = 15